<mat-toolbar>
    <span class="TodoBaseColor">Welcome to Todo List</span>
</mat-toolbar>

<div class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="todoAddForm">
        <mat-form-field>
            <mat-label>Your Todo</mat-label>
            <input matInput formControlName="title" />
        </mat-form-field>
        <button type="submit" 
        [disabled]="!todoAddForm.get('title').valid"
        mat-raised-button color="accent" 
        style="margin-left: 10px;">Add Tdod</button>
    </form>
</div>

<app-data-table></app-data-table>